
@media (min-width: 768px){
    .body-bg{
    height: 30px;
    background: #F3F7F9;
     position: fixed;
    top: 0px;
    width:100%;
    z-index: 10000;
    }
        .body-bg-bottom{
    height: 30px;
    background: #F3F7F9;
     position: fixed;
    bottom: 0px;
    width:100%;
    z-index: 10000;
    }
.ama-container{
    margin-top: 120px;
    margin-bottom: 30px;
    background: white;
    width:100%;
    border:1px solid #E4E2E2;
    border-top-color: transparent;
    padding-top: 25px;
    z-index:-1;
   }
.ama-header{
    margin-top: 30px;
    background: #2D3649;
    height:60px;
    border:1px solid #2D3649;
    position: fixed;
    top: 0px;
    width:inherit;
    padding: 10px;
    z-index: 1000;
}
.ama-input{
   position: fixed;
   margin-bottom: 30px;
    bottom: 0;
    width:inherit;
    background: #0FCAB9;
    
}
.ama-textarea{
    max-height: 80px;
    margin-left: 40px;
    padding-right: 0px !important;
    float: none !important;
}
.ama-input-send{
    display: none;
}
.ama-input-field{
    background: white !important;
}
}
/**Chat**/
.col-max{
    max-width: 500px;

}

.col-ama{
    padding: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:0px;
    overflow-x:hidden;
}
.ama-container{
    margin-top: 50px;
    background: white;
    width:100%;
    border:1px solid #E4E2E2;
    border-top-color: transparent;
   padding-bottom: 40px;
    z-index:-1;
   }
.ama-header{
    background: #2D3649;
    height:60px;
    border:1px solid #2D3649;
    position: fixed;
    top: 0px;
    width:inherit;
    padding: 10px;
    z-index: 1000;
}
.ama-header__topic-img{
width:40px;
height: 40px;
border-radius: 50%;
float: left;
margin-right: 10px;
}

.ama-header__topic-title{
color:white;
font-size: 16px;
}
.ama-header__topic-user{
color:white;
font-size: 12px;
}

.ama-input{
   position: fixed;
    bottom: 0;
    width:inherit;
    background: #0FCAB9;
    
}

.btn-send{

position: absolute;
bottom:0;
}
.ama-input-field{
    background: linear-gradient(to right,  white 0%,white 50%,#0FCAB9 50%,#0FCAB9 100%);
    padding: 0px 8px 0px 0px;
    border:1px solid #e6e6e6;
}
.ama-textarea{
   float:left;
   width:74%;
}

.txt-area{
      width:100%;
    max-height: 80px;
     resize: none;
     border-color: transparent;
}

.ama-textarea textarea{
    width:100%;
    max-height: 80px;
    height:36px;
     resize: none;
     border-color: transparent;
     border-left:1px solid #e6e6e6;
     padding-left: 8px;
}

.ama-input-img{
width:40px;
height:40px;
float: left;
}
.ama-input-send{
width:40px;
float: right;
margin-top: 10px;
padding-left: 10px;
}




.ama-input-img img{
    width:20px;
    height: 20px;
margin-top: 8px;
}


.ama-content{
    padding: 10px;
}

.ama-content__pp{
    width:45px;
    float:left;
}
.ama-content__pp img{
    width:45px;
    height: 45px;
    border-radius: 50%;
}


.ama-content__text{
    margin-left: 5px;
    max-width:50%;
    float: left;
}

.ama-content__text--name{
    color:#AEAEAE;
    font-size: 1rem;
}

.ama-content__text--message{
   background: #E4E8EB;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me {
    float: right;
}

.me .ama-content__text--message{
   background: #0FCAB9;
   color:white;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me .ama-content__time{
    color:#EFEFEF;
    font-size: 0.8rem;
    width:50px;
    float: right;

}



.ama-content__time{
    color:#AEAEAE;
    font-size: 0.8rem;
    width:50px;
    float: right;

}

.ama-content__list{
    margin-top: 10px;
    position: relative;
}

@media (max-width:420px){
  .ama-content__text{
    margin-left: 5px;
    max-width:70%;
    float: left;
    } 
    .me.ama-content__text{
        float: right;
    }
}


.btn-social{
	margin-bottom:10px; 
	width:100%;
}
.btn-facebook{
	background: #3F51B5;
	border-color: #3F51B5; 
}

.btn-nav{
    background:transparent;
    box-shadow:none;
    border:0px;
    padding:10px 2px !important;
}

@media (min-width:768px) {

    .main-body {
        min-height: 500px;
    }
}
@media (max-width:768px){

.main-body{
    min-height:400px;
}
 }

.edit-profile__avatar img{
    width:150px;
    border-radius:50%;
    margin-bottom:5px;
}

.validation-summary-errors ul{
    list-style: none;
    color: red;
    padding: 5px;
    /* background: red; */
    
    margin-bottom:15px;
}

.field-validation-error{
    font-size:12px;
    padding-left:5px;
}

@media (min-width: 768px){
.modal-sm {
    width: 320px;
}}

.modal-content {
    position: relative;
    background-color: #f9f9f9;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}


/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/

html{
    font-size: 14px;
}

body{
    font-family: "lato", Arial, sans-serif;
    
}

.col-centered{
    float: none;
    margin: 0 auto;
}

a {
    cursor: pointer;
    font-family: "lato", Arial, sans-serif;
}


/*------------------------------------*\
    #FONTSIZE
\*------------------------------------*/
@media (max-width: 360px){
  html{
    font-size: 12px;
  }
}

/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/
@media (min-width:992px){
    .container-lg{
        width:970px;
    }
}

/*------------------------------------*\
    #BOOTSTRAP-MODIFIER
\*------------------------------------*/
.modal-header, .modal-footer{
    border:0px !important;
}

.modal-content-success{
    font-size:1.1rem;
    padding-bottom:25px;
}

.modal-register__title{
	font-size: 1.8em;
}


/*------------------------------------*\
    #POSITION
\*------------------------------------*/
@media (max-width: 768px){
   .text-center-sm{
    float: none !important;
    text-align: center;
   } 

   .text-center-sm a, .text-center-sm div{
    margin-top: 5px;
   }
}


@media (min-width: 768px){
   .pull-right-md{
    float: right;
   }
    .pull-left-md{
    float: left;
   }
}

@media (min-width: 992px){
    .padding-right-0-md{
        padding-right: 0px;
    }
     .padding-left-0-md{
        padding-left: 0px;
    }
}




.playlist-title a, .title-white h2{
    color:white;
}

.contributor-label{
    margin-bottom:5px;
    color:#8d8d8d;
}

.total-view{
    font-size:2.2rem;
    color:white;
    line-height:1.7rem;
}

.total-view__label{
    margin-bottom:5px;
    color:#8d8d8d;
}



/*------------------------------------*\
    #MARGIN
\*------------------------------------*/
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 30px;
}


.margin-right-5{
    margin-right: 5px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-bottom-20{
    margin-bottom: 20px
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-30{
    margin-bottom: 30px
}
.margin-bottom-40{
    margin-bottom: 40px
}
.margin-bottom-50{
    margin-bottom: 50px
}


/*------------------------------------*\
    #BACKGROUND
\*------------------------------------*/
.bg--light--black{
    background: #313132;
}
.bg--white{
    background:white;
    border:1px solid #f3f3f3;
}


/*------------------------------------*\
    #PADDING
\*------------------------------------*/
@media (min-width: 768px) {
.padding-left-0{
    padding-left: 0px;
}
.padding-right-0{
    padding-right: 0px;
}
.padding-0{
    padding: 0px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}
}

.padding-bottom-50{
    padding-bottom:50px;
}

@media (min-width:768px){
.padding-30-40{
    padding:30px 40px;
    
}
}
.padding-30-40{
    padding:20px 20px;
    
}
.padding-20{
    padding:20px;
}

/*------------------------------------*\
    #IMAGE-MODIFIER
\*------------------------------------*/
.img-btn{
    padding-right: 5px;
    height: 1rem;
    vertical-align: middle;

}

.img-star{
    height:1.2rem;
}

.img-star-lg{
    height: 2rem;
}

.img-pp-sm{
    width:51px;
    height:51px;
    border-radius: 50%;
}

.img-pp-xs{
    width:40px;
    height:40px;
    border-radius: 50%;
}

/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/

.navbar{
    margin-bottom: 0px;
}
.navbar form{
    margin-bottom:0px !important;
}

.navbar-brand img{
    margin-top:0px !important;
}




.navbar-default {
    padding:10px;
    border-color: transparent;
    background-color: white;
    border-bottom:1px solid #f3f3f3;
    font-weight:400;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    text-shadow: none !important;
    box-shadow: none !important;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 3px !important;
    outline: medium none !important;
     color: #FFF;
}

.btn:hover{
    color:white;
}
.btn:focus{
    color:white;
}

.btn--sm{
    padding: 7px 22px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

.btn--default {
    background-color: #009688;
    border-color: #00897B;
}

.btn--default:hover{
    background-color: #00897B;
    border-color: #00897B;
}

.btn--outline {
    background-color: transparent;
    border: 2px solid white;
}

.btn--outline:hover{
   background-color: white;
   color:#13D0BF;
    border: 2px solid white;
}


.btn-primary {
    background-color: #009688;
    border-color: #00897B;
}

.btn-primary:hover{
    background-color: #00897B;
    border-color: #00897B;
}

.btn-wide{
    width:100%;
}

.btn--red {
    background-color: #d32f2f;
    border-color: #c62828;
}

.btn--red:hover{
    background-color: #c62828;
    border-color:#c62828;
}

.btn--grey {
    background-color: #797979;
    border-color: #676767;
}

.btn--grey:hover{
    background-color: #676767;
    border-color:#676767;
}

.btn--facebook {
    background-color: #0B53B7;
    border-color: #0A4494;
     padding: 10px;
    width:45px;
}

.btn--facebook:hover{
    background-color: #0A4494;
    border-color:#0A4494;
}
.btn--twitter {
    background-color: #0FBEF0;
    border-color: #089EC9;
      padding: 10px;
      width:45px;
    
}

.btn--twitter:hover{
    background-color: #089EC9;
    border-color:#089EC9;
}


@media (min-width: 1280px){
    .btn-wide-xs{
        width: 100%;
    }
}



/*------------------------------------*\
    #CONTENT-VIDEO
\*------------------------------------*/

.content-video{
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-video__header{
 
    padding-bottom: 20px;
}

.chapter-list{
background: black;
}

.content-video h2{
    color:white;
    font-weight: 300;
    margin-top: 0px;
}

.video-item-title{
    max-width:200px;
}

.contributor-name{
    font-size: 1rem;
    color:white;
}

.chapter-list__title{
    padding: 12px;
    color:#c9c9c9;
    font-size: 1.3rem;
    border-bottom:1px solid #363636;
}

/*------------------------------------*\
    #HOME
\*------------------------------------*/

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-color: #13D0BF;
    background-image: url(https://cozorablob.blob.core.windows.net/resources/girl.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


 header .intro-text {
        padding-top: 130px;
        padding-bottom: 100px;
    }

    header .intro-text .intro-lead-in {
       
        font-size: 3em;
        line-height: 20px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    header .intro-text .intro-heading {
        
        font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 30px;
       
    }

@media(max-width:768px) {
   header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
}
@media(min-width:768px) {
    section.section-home {
        padding: 60px 0 60px;
    }
}
@media(max-width:768px){
    section{
        padding:30px 0px;
    }
    }
 section.section-home {
        padding: 30px 0 30px;
    }
section .section-heading {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-weight: 500;
    font-size: 1.45em;
}

.content-video--home{
padding: 50px 0px;
}


.present-text{
    font-size: 1.4rem;
    font-weight: 300;
    padding: 20px;
}

.playlist-home-title{
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 0px;
}

section#form-submit{
     text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(/Resources/img/submitclear.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     padding-top: 100px;
    padding-bottom: 50px;

}

section#form-submit .section-heading{
    color:white;
    margin-bottom: 0px;
}

footer{
    margin-top:30px;
}
#copyright{
    background:#212121;
    color:white;
    padding: 30px 30px 80px 30px;
}

.logo-home {
    width:150px;
    margin-bottom: 10px;
}

#copyright a{
    font-size: 1rem;
    color:white;
}

.bg--light--grey{
    background:#f9f9f9;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
	padding: 50px 0px 50px 0px;
}

.list-footer{
	list-style: none;
	padding: 0px;
}

.list-footer__title{
	font-weight: 700;
	margin-bottom: 10px;
}

.connect-with-us img{
	width:30px;
	height:30px;
}



.chapter-list ul{
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    overflow-y:scroll;
}
@media (min-width:992px){
      .chapter-list ul{
        height: 304px;
      }

}

@media (min-width:1200px){
      .chapter-list ul{
        height: 379px;
      }

}



.chapter-list__item{
    padding:15px 10px;
    font-size: 1rem;
    border-bottom:1px solid #363636;
    color:#E6EDF0;
}

.video-time{
    color:#595959;
    font-size: 0.9rem;
}

.chapter-list__item:hover{
   background: #363636;
   cursor:pointer;
}

.chapter-list__item img{
    width:100px;
    margin-right: 5px;
}

.chapter-list__item:hover{
   background: #363636;
   cursor:pointer;
}
.chapter-list__item.active{
    background: #363636;
}

.heading-playlist__title{
    font-size: 1.4rem;
    font-weight: 500;
    color:#009688;
}

/*------------------------------------*\
    #DESCRIPTION
\*------------------------------------*/
.description__bg{
    background:#F4F5FB;
    padding:10px;
    padding-bottom:5px;
    font-size:1rem;
}

/*------------------------------------*\
    #DISCUSSION
\*------------------------------------*/
.discussion-back a{
 font-size:1.5rem;
 color:white;
}
.discussion-back a:hover{
 text-decoration:none;
}

.discussion-back img{
    width:1.5rem;
    line-height:1.5rem;
}

.discussion-post{
    padding:20px 0px 15px 0px;
    border-bottom: 1px solid #ECEDF0;
}

.discussion__title a{
    font-weight: 500;
    color:#313131;
    font-size: 1.5rem
}

.discussion__author-name a{
      font-weight: 500;
    color:#313131;
    font-size: 1.1rem;
}

.discussion-reply__author-name a{
      font-weight: 500;
    color:#313131;
    font-size: 1.1rem;
}

.discussion__detail{
    font-size: 0.9rem;
    color:#a9a9a9;
}



.discussion-reply{
    background-color: #EFF3F6;
    padding: 10px 10px 10px 10px !important;
    margin-top: 1px;
    padding-bottom: 0px;
}


.discussion-action a{
    padding: 0px 5px;
    color:#7e7e7e;
    font-size: 0.9rem;
}
.discussion-action a:hover{
    text-decoration: none;
}

.discussion-action img{
    width:0.8rem;
    margin-right: 3px;
}

.discussion-post__content{
   margin-top:5px;
}

.set-height{
    height:40px !important;
}


.note-toolbar .btn{
    display: inline-block;
padding: 6px 12px;
margin-bottom: 0px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-moz-user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
color:#313131;
}

.note-toolbar.panel-heading{
    background: none;
}

.class__discussion--container{
	padding:20px 0px 20px 0px;
}

.class__discussion--header{
    border-bottom:1px solid #ececec;
    padding-bottom:15px;
}
.class__review--container{
	padding-left:30px;

}

.class__discussion--author{
	width: 40px;
	height: 40px;
	float: left;
}

.class__discussion--title{
	font-size: 16px;
	font-weight: 700;
}

.class__discussion--detail{
	font-size: 14px;
	color:#666666;
}

.class__discussion--list{
	margin-top: 30px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 30px;
    padding-left:20px;
    padding-right:20px;
}


/*------------------------------------*\
    #RATESTAR
\*------------------------------------*/
.rate--star-lg{
    width:50%;
    margin: 0 auto;
}

.review--count{
    margin-top: 5px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/*------------------------------------*\
    #CONTRIBUTE
\*------------------------------------*/

.add-video{
    color:#009688;
    font-size:1.1rem;
    text-decoration:underline;
}

/*------------------------------------*\
    #PROFILE
\*------------------------------------*/
.profile__picture img{
    width:10rem;
    height:10rem;
    border-radius: 50%;
}

.profile__name{
    font-size: 1.4rem;
    color:white;
    font-weight: 400;
}

.profile__job{
    font-size: 1.2rem;
    color:white;
    font-weight: 300;
}


.profile__description{
    font-size: 1rem;
    color:white;
    font-weight: 300;
    padding: 5px;
}

.profile__zero{
    color:#d3d3d3;
}


.playlist-card img{
    width:100%;
    border:1px solid #e8e8e8;

}


/*------------------------------------*\
    #PLAYLISTCARD
\*------------------------------------*/
.playlist-card{
    background: white;
    border:1px solid #eeeeee;
    max-width: 360px;
    margin-top: 10px;
}

.playlist-card__detail{
    padding: 12px 12px 10px;
}

.playlist-card__detail--title{
    color:#373737;
    font-size: 1.3rem;
    height: 3.3rem;
    overflow: hidden;
     margin-bottom: 10px;
    text-overflow: ellipsis;
}
.playlist-card__detail--title a{
    color:#373737;
    font-size: 1.3rem;
    height: 4rem;

    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
}

.playlist-card__detail--contributor-photo, .playlist-card__detail--contributor-photo img{
    width:45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
}

.playlist-card__detail--contributor-name{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}
.playlist-card__detail--contributor-name a{
    color:black;
    text-decoration: none;
}
.playlist-card__detail--love-image{
    height: 45px;
    vertical-align: middle;

}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.playlist-card__detail--love-image, .playlist-card__detail--love-image img{
    display: inline-block;
width:20px;
line-height: 45px;
border:0px;
vertical-align: middle;
}
.playlist-card__detail--love-count{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}
.btn--silent{
    padding:13px;
    background: #635F5F;  
    border-color: #635F5F;
}
.btn--silent:hover{
    padding:13px;
    background: #5D5959;  
    border-color: #5D5959;
}
.btn--silent img{
    padding-right: 0px;
}
.playlist__counter{
    display:inline-block;
    margin-left: 10px;
}

.notification-list{
    list-style:none;
    padding-right:0px;
}

.notification-list-wide{
    list-style:none;
    padding:10px;
}

.notification-list img{
    border-radius:50%;
    width:40px;
    height:40px;
}

.notification-list li{
   padding:10px 5px;
   background:white;
   border:1px solid #CFD8DC;
   border-top:0px;

}

.notification-list li:hover{
  background:#F6F6F6;
}


.notification-list li.one{

  
   border:1px solid #CFD8DC;
   
}


.False{
background-color:#DAECEA !important;
}

.notification-time{
    font-size:0.8em;
    color:#78909C;
}

.dropdown-notif .row{
    margin-right:0px;
}

.nav-notification{
	margin: 12px;
		width:25px;
	height:25px;
}

.notifications{
	left:-100px;
    padding-top:0px;
	min-width: 300px;
    max-height:350px;
    overflow:hidden;
    overflow-y:scroll;

}

.notification-icon i{
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 26px;
    margin-right: 12px;
    padding: 10px;
    border: 1px solid #90A4AE;
    color: #90A4AE;
}

.notification-icon i.True{
   background:#ff4848;
   border-color:transparent;
    color: white;
}

.notification-icon i.False{
   background-color:transparent !important;
}


@media (min-width: 768px){
    .body-bg{
    height: 30px;
    background: #F3F7F9;
     position: fixed;
    top: 0px;
    width:100%;
    z-index: 10000;
    }
        .body-bg-bottom{
    height: 30px;
    background: #F3F7F9;
     position: fixed;
    bottom: 0px;
    width:100%;
    z-index: 10000;
    }
.ama-container{
    margin-top: 120px;
    margin-bottom: 30px;
    background: white;
    width:100%;
    border:1px solid #E4E2E2;
    border-top-color: transparent;
    padding-top: 25px;
    z-index:-1;
   }
.ama-header{
    margin-top: 30px;
    background: #2D3649;
    height:60px;
    border:1px solid #2D3649;
    position: fixed;
    top: 0px;
    width:inherit;
    padding: 10px;
    z-index: 1000;
}
.ama-input{
   position: fixed;
   margin-bottom: 30px;
    bottom: 0;
    width:inherit;
    background: #0FCAB9;
    
}
.ama-textarea{
    max-height: 80px;
    margin-left: 40px;
    padding-right: 0px !important;
    float: none !important;
}
.ama-input-send{
    display: none;
}
.ama-input-field{
    background: white !important;
}
}
/**Chat**/
.col-max{
    max-width: 500px;

}

.col-ama{
    padding: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:0px;
    overflow-x:hidden;
}
.ama-container{
    margin-top: 50px;
    background: white;
    width:100%;
    border:1px solid #E4E2E2;
    border-top-color: transparent;
   padding-bottom: 40px;
    z-index:-1;
   }
.ama-header{
    background: #2D3649;
    height:60px;
    border:1px solid #2D3649;
    position: fixed;
    top: 0px;
    width:inherit;
    padding: 10px;
    z-index: 1000;
}
.ama-header__topic-img{
width:40px;
height: 40px;
border-radius: 50%;
float: left;
margin-right: 10px;
}

.ama-header__topic-title{
color:white;
font-size: 16px;
}
.ama-header__topic-user{
color:white;
font-size: 12px;
}

.ama-input{
   position: fixed;
    bottom: 0;
    width:inherit;
    background: #0FCAB9;
    
}

.btn-send{

position: absolute;
bottom:0;
}
.ama-input-field{
    background: linear-gradient(to right,  white 0%,white 50%,#0FCAB9 50%,#0FCAB9 100%);
    padding: 0px 8px 0px 0px;
    border:1px solid #e6e6e6;
}
.ama-textarea{
   float:left;
   width:74%;
}

.txt-area{
      width:100%;
    max-height: 80px;
     resize: none;
     border-color: transparent;
}

.ama-textarea textarea{
    width:100%;
    max-height: 80px;
    height:36px;
     resize: none;
     border-color: transparent;
     border-left:1px solid #e6e6e6;
     padding-left: 8px;
}

.ama-input-img{
width:40px;
height:40px;
float: left;
}
.ama-input-send{
width:40px;
float: right;
margin-top: 10px;
padding-left: 10px;
}




.ama-input-img img{
    width:20px;
    height: 20px;
margin-top: 8px;
}


.ama-content{
    padding: 10px;
}

.ama-content__pp{
    width:45px;
    float:left;
}
.ama-content__pp img{
    width:45px;
    height: 45px;
    border-radius: 50%;
}


.ama-content__text{
    margin-left: 5px;
    max-width:50%;
    float: left;
}

.ama-content__text--name{
    color:#AEAEAE;
    font-size: 1rem;
}

.ama-content__text--message{
   background: #E4E8EB;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me {
    float: right;
}

.me .ama-content__text--message{
   background: #0FCAB9;
   color:white;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me .ama-content__time{
    color:#EFEFEF;
    font-size: 0.8rem;
    width:50px;
    float: right;

}



.ama-content__time{
    color:#AEAEAE;
    font-size: 0.8rem;
    width:50px;
    float: right;

}

.ama-content__list{
    margin-top: 10px;
    position: relative;
}

@media (max-width:420px){
  .ama-content__text{
    margin-left: 5px;
    max-width:70%;
    float: left;
    } 
    .me.ama-content__text{
        float: right;
    }
}


@media (min-width: 420px){
    .ama-input{
   position: fixed;
    bottom: 0;
    width:inherit;
    background: #0FCAB9;
    
}
.ama-textarea{
    max-height: 80px;
    margin-left: 40px;
    padding-right: 0px !important;
    float: none !important;
}
.ama-input-send{
    display: none;
}
.ama-input-field{
    background: white !important;
}
}
.ama-header__back{
height:40px;
border-radius: 50%;
float: left;
margin-right: 5px;
padding-top: 12px;
padding-bottom: 12px;
}
/**AMA*/
/**Live Chat**/
@media (min-width:992px){
    .audience-stage{
        border-left: 1px solid #e6e6e6;
    }
    #audience-stage{
        border-left: 1px solid #e6e6e6;
    }
}

@media (max-width: 768px){
    .livechat-speaker__profile-picture img{
    border-radius: 50%;
    width:100px;
    height: 100px;
    border:3px solid white;
    margin-bottom: 20px;
}
.livechat-speaker__name{
 color:white;
    font-size: 1.8rem;
    font-weight: 500;
}
.has-registered{
 color:white;
    font-size: 1.3rem;
}
.livechat-speaker__title{
 color:#A9A9A9;
    font-size: 1.1rem;
}
.has-registered{
    color:white;
    font-size: 1.5rem;
}
.livechat__topic{
    color:white;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}
.livechat-share__label{
    margin-top: 20px;
    margin-bottom: 10px;
    color:#a9a9a9;
    font-size: 1rem;
}
}    

.livechat__title{
    color:white;
    font-size: 1rem;
    margin-top: 30px;
}
.livechat__datetime{
    color:white;
    font-size: 1rem;
}
.livechat__topic{
    color:white;
    font-size: 2.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.livechat-speaker{
    margin-bottom: 20px;
}

.livechat-speaker__profile-picture img{
    border-radius: 50%;
    width:150px;
    height: 150px;
    border:3px solid white;
    margin-bottom: 20px;
}

.livechat-speaker__name{
 color:white;
    font-size: 2.3rem;
    font-weight: 500;
}
.has-registered{
     color:white;
    font-size: 1.5rem;
}
.livechat-speaker__title{
 color:#A9A9A9;
    font-size: 1.2rem;
}

.livechat-share__label{
    margin-top: 40px;
    margin-bottom: 10px;
    color:#a9a9a9;
    font-size: 1rem;
}

.btn--sm img{
    height:20px;
}
.livechat-share__button{
    margin-bottom: 30px;
}

.btn--whatsapp {
    background-color: #00B26F;
    border-color: #00935B;
    padding: 10px;
    width:45px;
}

.btn--whatsapp:hover{
    background-color: #00935B;
    border-color:#00935B;
}

.btn--line {
    background-color: #41D200;
    border-color: #32A300;
    padding: 10px;
    width:45px;
}

.btn--line:hover{
    background-color: #32A300;
    border-color:#32A300;
}

/****Live Chat****/
.livechat-container{
    width:100%;
   padding-bottom: 40px;
    z-index:-1;
    overflow: scroll;
   }

.livechat-fixed{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;

}

.livechat-header{
    background: #2D3649;
    font-weight: 300;
    padding: 10px;
    color:white;
}

.livechat-header__topic{
    font-size: 1.4rem;
    font-weight: 500;
}
.livechat-header__detail span{
    margin-right: 10px;
}
.tabs {
  left:0px;
  top:0px;
  width: 100%;
  height: 40px;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
  z-index=1;
}

.tabopen {
    border-bottom: 3px #0FCAB9 solid;
    color: #0FCAB9 !important;
}

.tab {
  font-family: Roboto;
    float: left;
    width: 33.333% !important;
    height: 100% !important;
  padding-top:10px;
  color: #333;
  text-align: center;
}

.tab:hover{
    cursor: pointer;
}

.notif-stage{
    background: #0FCAB9;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    color: transparent;
}

.margin-livechat-content{
    margin-top: 100px;
}

.livechat-content{
    padding: 10px;
    font-size: 13px;
}

.livechat-content__pp{
    width:35px;
    float:left;
}
.livechat-content__pp img{
    width:35px;
    height: 35px;
    border-radius: 50%;
}


.livechat-content__text{
    margin-left: 5px;
    max-width:70%;
    float: left;
}

.livechat-content__text--name{
    color:#AEAEAE;
    font-weight:300;

}

.livechat-content__text--message{
   background: #E4E8EB;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me {
    float: right;
}

.me .livechat-content__text--message{
   background: #0FCAB9;
   color:white;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me .livechat-content__time{
    color:#EFEFEF;
    font-size: 10px;
    width:50px;
    float: right;

}

.livechat-content__time{
    color:#AEAEAE;
    font-size: 10px;
    width:50px;
    float: right;

}

@media (min-width: 992px){
    .tab {
  font-size: 14px;
}

    .livechat-content{
    padding: 10px;
    font-size: 14px;
}

.livechat-content__pp{
    width:45px;
    float:left;
}
.livechat-content__pp img{
    width:45px;
    height: 45px;
    border-radius: 50%;
}


.livechat-content__text{
    margin-left: 5px;
    max-width:70%;
    float: left;
}

.livechat-content__text--name{
    color:#AEAEAE;
    font-weight:300;

}

.livechat-content__text--message{
   background: #E4E8EB;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me {
    float: right;
}

.me .livechat-content__text--message{
   background: #0FCAB9;
   color:white;
   padding: 8px;
   border-radius: 3px;
   margin-top: 2px;
}

.me .livechat-content__time{
    color:#EFEFEF;
    font-size: 10px;
    width:50px;
    float: right;

}

.livechat-content__time{
    color:#AEAEAE;
    font-size: 10px;
    width:50px;
    float: right;

}

}

.livechat-content__list{
    margin-top: 10px;
    position: relative;
}
.main-stage{
    width:100%;
}
.livechat-input{
    background: linear-gradient(to right,  white 0%,white 50%,#0FCAB9 50%,#0FCAB9 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    border:1px solid #e6e6e6;
    border-bottom: transparent;
}



.livechat-input__attachment {
    width:50px;
    padding-top: 10px;
}
.livechat-input__send{
    width:50px;
     padding-top: 10px;
}

.livechat-input__textarea{
    padding-left: 50px;
    padding-right:50px;
}

.livechat-input__textarea textarea{
    width:100%;
    max-height: 90px;
    height: 32px;
     resize: none;
     border-color: transparent;
     border-left:1px solid #e6e6e6;
     padding: 5px;
}

.livechat-question{
    font-size: 13px;
}

.livechat-question-item{
    border-bottom:1px solid #e6e6e6;
    padding: 10px;
}

.livechat-question-item__content{
    font-size: 15px;

}
.livechat-question-item__detail{
    margin-top: 10px;
}
.livechat-question-item__detail img{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.livechat-question-item__detail--text-name{
   font-size: 14px;
}
.livechat-question-item__detail--text-date{
    font-size: 13px;
    line-height: 12px;
    color:#CBCBCB;
}
.livechat-question-item__vote{
    margin-top: 5px;
    width:45px;
    text-align: center;
}

.livechat-question-item__answer{
    margin-top:5px; 
}

.livechat-question-item__answer a{
    color:#0FCAB9;
}

.livechat-question-item__answer p{
    margin-left: 45px;
    text-align: justify;
}

.livechat-question-item__answer-user img{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
.livechat-question-item__answer-user-name a{
    font-size: 14px;
    color:white;
    background: #0FCAB9;
}
.livechat-input-question{
    padding: 5px;
    position: fixed;
    bottom: 0;
     width: 100%;
    background: white;
}

@media (min-width:992px){
.livechat-input-question{
    padding: 5px;
    position: fixed;
    bottom: 0;
     width: 66.6667%;
    background: white;
}
.audience-stage .livechat-input
{
    width:33.3333%;
}
.livechat-input{

     width: 66.6667%;
}
}

/**Modal Fullscreen**/
/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}


.modal-textarea{
    width:100%;
    resize: none;
    padding: 5px;
    font: 'Lato', sans-serif;
    border:1px solid #e6e6e6;
    min-height: 100px;
    max-height:300px;
}
.modal-textarea__title{
    font-size: 14px;
    margin-bottom: 10px;
}
.modal-textarea__post{
    margin-top: 10px;
}
.padding-nol{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media(min-width: 992px){
    .hide-stage-md{
        display: none;
    }
    .tab{
        width:18% !important;
    }
    .tabopen-md{
    border-bottom: 3px #0FCAB9 solid;
    color: #0FCAB9 !important;
    width:33.33% !important;
    }
    .btn--question{
        width: 60%;
    }
}
@media(max-width: 992px){
    .hide-stage{
        display: none;
    } 
     .btn--question{
        width: 100%;
    }

}

@media(width: 992px){
    .show-stage-md{
        display: block;
    }    
     .btn--question{
        width: 100%;
    }
}

.o-hidden{
    overflow: hidden;
}







